PORT=3002
NODE_ENV=development
MONGODB_URI=mongodb+srv://locoho1795_db_user:YOUR_PASSWORD@tuphim-claydev.ophu9ub.mongodb.net/tuphim-mobile?appName=Tuphim-Claydev
JWT_SECRET=change_this_to_a_random_secret
JWT_EXPIRES_IN=7d
ALLOWED_ORIGINS=http://localhost:8081,http://192.168.29.101:8081
